/*
==========================
Main page body
==========================
*/
body {
    background-color: rgba(52, 52, 52, 0.45);
    font-family: 'Inria Serif', serif;
}

/*
==========================
Navbar
==========================
*/
.navbar {
    background-color: linear-gradient(to right, rgba(150,34,195,0.65) 0%, rgba(45,253,107,0.35) 100%);
}

/*
===========================
Hero section
===========================
*/
h1,
h2 {
    color: rgba(153,0,255,1); 
}
h4 {
    font-style: italic;
}
